<!DOCTYPE html>
<html>
	<head>
		<meta content = 'text/html; charset = UTF=8' http-equiv='Content-Type' />
	</head>
	<body>
		<%= @receiver.un %>,

		<p> You have recieved a new bet from <%= @sender.un %> </p>
		<p> To accept or decline click here: URL</p>
	</body>
</html>